# Cache-file created on Thu Oct 12 10:23:57 UTC 2017
ignore_glibc_version_mismatch='no'
installdir='/opt/sicstus'
decrypt_key='************'
sitename='**********'
licensecode='****-****-****-****-****'
expires='***'
install_tcltk='no'
tcltk_path=''
tcltk_version='8.5'
install_jasper='no'
java_path=''
embed_jdk_rpath='yes'
install_bdb='no'
bdb_path=''
install_odbc='no'
ignore_wrong_glibc_version='yes'
